{
    admin off
}

:${PORT} {
    root * .

    # ถ้าเป็นไฟล์หรือโฟลเดอร์ที่มีอยู่จริง และลงท้ายด้วย .php ให้ส่งให้ PHP-FPM ประมวลผล
    php_fastcgi localhost:9000

    # บริการ Static Files ทั่วไป (HTML, CSS, JS, รูปภาพ)
    file_server
}
