{
    admin off
}

:{$PORT} {
    root * .
    
    # ส่ง Request ขึ้นต้นด้วย /api ไปที่ api/index.php
    handle /api/* {
        rewrite * /api/index.php
        php_fastcgi localhost:9000
    }

    # บริการ Static Files (เช่น index.html, js, css)
    handle {
        file_server
    }
}
